.todo-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  padding: 1.5rem;

  mat-card {
    width: 500px;
  }

  .my-3 {
    margin: 1rem 0;
  }
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  p {
    margin-top: 1rem;
    color: #666;
  }
}
