<!-- login.component.html -->
<div class="login-container">
  <mat-card class="login-card">
    <h2 class="login-title">Login</h2>
    <form [formGroup]="loginForm()" novalidate (ngSubmit)="onSubmit()">
      <!-- Username -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="johndoe" />
        <mat-error *ngIf="loginForm().controls['username'].hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="yourpassword"
        />
        <mat-error *ngIf="loginForm().controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Login Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="full-width"
      >
        {{ isSubmitting() ? '...' : 'Login' }}
      </button>

      <!-- Signup Link -->
      <button
        mat-button
        type="button"        
        class="full-width"
        (click)="goToSignup()"
      >
        Don't have an account? Sign Up
      </button>
    </form>
  </mat-card>
</div>
