<div class="layout-container">
  <!-- Header -->
  <mat-toolbar color="primary" class="app-toolbar">
    <span class="app-title">Todos</span>

    <span class="spacer"></span>

    <!-- User Menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <!-- Main layout -->
  <mat-sidenav-container class="app-sidenav-container">
 
    <mat-sidenav-content class="app-content">
       <app-todos></app-todos>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
