@if (isLoading()){
  <app-loading [fullscreen]="true"></app-loading>
}
@else {
<div class="mat-elevation-z8 page-container"> 
    <div class="table-container mat-elevation-z8">
<div class="filter-row">
  <mat-form-field appearance="outline" floatLabel="always">
     <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="titleFilter" placeholder="Filter by Title">
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
     <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="descriptionFilter" placeholder="Filter by Description">
  </mat-form-field>

<mat-form-field appearance="outline">
   <mat-label>Is Completed?</mat-label>
    <mat-select [(ngModel)]="isCompletedFilter">
      <mat-option [value]="''">Select Is Completed</mat-option>
      <mat-option value="0">No</mat-option>
      <mat-option value="1">Yes</mat-option>
    </mat-select>
  </mat-form-field>

   <button matButton="filled" mat-raised-button color="primary" (click)="applyFilters()" class="mr-1">Apply Filters</button>
   <button matButton="filled" mat-raised-button color="primary" (click)="resetFilters()" class="mr-1">Reset Filters</button>
   <button matButton="filled" mat-raised-button color="primary" (click)="createTodo()" class="mr-1">Add Todo</button>

</div>

  <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

    <!-- ID Column -->
    <ng-container matColumnDef="todoId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let todo">{{ todo.todoId }}</td>
    </ng-container>

     <!-- Title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let todo">{{ todo.title}}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let todo">{{ todo.description }}</td>
    </ng-container>

    <!-- DueDate Column -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
      <td mat-cell *matCellDef="let todo">{{ todo.dueDate | date:'dd/MM/yyyy hh:mm a' }}</td>
    </ng-container>

     <!-- IsCompleted Column -->
    <ng-container matColumnDef="isCompleted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Completed?</th>
      <td mat-cell *matCellDef="let todo">{{ todo.isCompleted ? 'YES':'NO' }}</td>
    </ng-container>

   

   <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let todo">
        <button matButton="filled" mat-raised-button color="primary" (click)="editTodo(todo.todoId)" class="mr-1">Edit</button>        
        <button matButton="filled" mat-raised-button color="warn" (click)="deleteTodo(todo.todoId)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>

 <mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber - 1"
  [pageSizeOptions]="[5, 10, 25]"
  (page)="onPageChange($event)">
</mat-paginator>

</div>
}
